//:: :: :: :: Inicio VARIABLES :: :: :: :: //
$fuente-normal: 1em;
$color-bkg-primario: #c9bfbfdc; //fondo de form primario
$color-bkg-secundario: rgb(180, 160, 160); // fondo de form secundario

//otros colores
$first-color: #007bdf;
$first-color-alt: #006dc6;
$second-color: #00cbff;
$second-color-alt: #00bff0;
$third-color: #ff3c32;
$third-color-alt: #ff2419;
$accent-color: #fba905;
$accent-color-alt: #f1a000;
$dark-color: #282d31;
$dark-color-alt: #141618;
$border-color: #53575a;
$text-color: #282d31;
$text-color-alt: #53575a;
$text-color-blanco: #fcfcfc;
$text-color-alt2: #808080;

//:: :: :: :: Fin VARIABLES :: :: :: :: //
body {
  background-image: linear-gradient(to bottom, grey, white);
}
//*********estilos del header

.container-fluid {
  .logo {
    height: $fuente-normal * 4;
    width: $fuente-normal * 4;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}

.header {
  width: 100%;
  min-height: 100vh; //100 tamaño de la pantalla
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; //cubre toda la pantalla
  background-attachment: fixed;
}

//:: :: :: :: estilo de nav :: :: :: //
.nav-estilo {
  text-transform: uppercase;
}

//:: :: :: :: estilo de banner :: :: :: //
.text-header {
  min-height: 100vh;
  color: $dark-color-alt;
  font-family: "Montserrat";
  h2 {
    font-family: "Anton";
  }
  span {
    letter-spacing: 5px;
    font-size: $fuente-normal * 1.3;
    font-family: "Anton";
    margin: 0 0 0 10px;
    p {
      font-size: $fuente-normal;
    }
  }
}

//************* estilos de cards GENERAL **********+//
.card-estilo {
  background-color: $color-bkg-primario;
  background-size: cover;
  color: $text-color;
  font-size: $fuente-normal;
}

//************* estilos de cards del INDEX**********+//
.contenedor-card {
  background-image: linear-gradient(to bottom, grey, white);
  margin-top: 0;
  padding: 1px;

  .card {
    @extend .card-estilo;
  }
  &__imagen {
    transition: 0.5s ease-in-out;
    height: 160px;
    width: 100%;
    img {
      height: 100%;
    }
  }
  &__imagen:hover {
    filter: brightness(80%);
  }
  &__text {
    margin: 7px;
    height: 100px;
    .card__title {
      font-weight: 700;
      @extend .card-estilo;
    }
    .card__text {
      @extend .card-estilo;
      font-size: $fuente-normal * 0.9;
    }
  }
}
//*******estilos del footer **********
@mixin background-and-size($background, $size) {
  background-color: $background;
  font-size: $size;
}

.estilo-footer {
  h5 {
    font-size: $fuente-normal;
  }
  background-color: $dark-color;
  color: $text-color-alt2;
  font-size: $fuente-normal * 0.7;

  .footer__text {
    text-align: justify;
  }
  .pruebomixin {
    @include background-and-size($second-color, $fuente-normal * 1.3);
  }
}
//:: :: :: ESTILO DE AYUDA.HTML :: :: :://
.ayuda_titulo,
.contacto_titulo,
.ingreso_titulo {
  font-size: $fuente-normal * 2;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.ayuda__box,
.contacto__box {
  background: $color-bkg-primario;
  box-shadow: 0 0 20px 0 rgba(184, 150, 150, 0.3);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
}

.ayuda__box:hover {
  box-shadow: 0 0 20px 0 rgba(204, 25, 25, 0.3);
}

.pregunta {
  font-weight: 500;
  font-size: $fuente-normal 1.34;
  line-height: 20px;
}

.respuesta {
  color: $dark-color;
  line-height: 30px;
}

// --------- ESTILO CONTACTO HTML -------------//
.contacto__box {
  background: $color-bkg-primario;
  box-shadow: 0 0 20px 0 rgba(184, 150, 150, 0.3);
}

.contacto__box {
  background: $color-bkg-primario;
  box-shadow: 0 0 20px 0 rgba(184, 150, 150, 0.3);
  text-align: center;

  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
}
.contacto__info {
  background-color: rgb(180, 160, 160);
}

.contacto__info h4,
.contacto__info ul,
.contacto__info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contacto__info ul {
  list-style: none;
}

.contacto__info ul li {
  padding: 0.3em;
}

//estilos de ingresa------//

.ingreso__recuadro {
  margin: 35px;
  box-shadow: 0 0 20px 0 rgba(204, 25, 25, 0.3);
  background-color: #c9bfbfdc;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.ingreso__recuadro > * {
  padding: 0.2em;
}

.ingreso__recuadro p {
  margin: 0;
  padding: 1em;
}

.ingreso__recuadro > .casilla {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingreso__recuadro input {
  width: 100%;
  padding: 0.7em;
  background: #e4e4e4;
  border: 1px solid #b70e21;
}

.ingreso__recuadro button {
  background: #b70e21;
  border: none;
  text-transform: uppercase;
  padding: 0.5em;
}

.ingreso__recuadro button:hover,
.ingreso__recuadro button:focus {
  background: #b70e21;
  color: white;
  transition: background-color 1s ease-out;
}

.ingreso__recupero {
  background-color: rgb(180, 160, 160);
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingreso__recupero p {
  padding: 0.3em;
}

//:: :: :: PANTALLAS desde 768 PX :: :: :://
@media (min-width: 768px) {
  .estilo-footer {
    h5 {
      font-size: $fuente-normal;
    }
    font-size: $fuente-normal * 0.8;

    .pruebomixin {
      @include background-and-size($second-color, $fuente-normal * 1.5);
    }
  }
  //.ingreso__recuadro {
  // width: 560px;
  // display: flex;
  // flex-direction: column;
  //}
}
