.container-fluid .logo {
  height: 4em;
  width: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #282d31;
  opacity: 0.3;
}

.carousel-caption {
  bottom: 30px;
}

.carousel-caption h5 {
  font-size: 2em;
}

.carousel-caption p {
  font-size: 1em;
}

.card-estilo, .contenedor-card .card, .contenedor-card__text .card__title, .contenedor-card__text .card__text {
  background-color: #c9bfbfdc;
  color: #282d31;
  font-size: 1em;
}

.contenedor-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(white));
  background-image: linear-gradient(to bottom, grey, white);
  margin-top: 0;
  padding: 1px;
}

.contenedor-card__imagen {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 160px;
  width: 100%;
}

.contenedor-card__imagen img {
  height: 100%;
}

.contenedor-card__imagen:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.contenedor-card__text {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 7px;
  height: 100px;
}

.contenedor-card__text .card__title {
  font-weight: 700;
}

.contenedor-card__text .card__text {
  font-size: 0.9em;
}

.contenedor-card__text:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.estilo-footer {
  background-color: #282d31;
  color: #808080;
  font-size: 0.7em;
}

.estilo-footer h5 {
  font-size: 1em;
}

.estilo-footer .footer__text {
  text-align: justify;
}

.estilo-footer .pruebomixin {
  background-color: #00cbff;
  font-size: 1.3em;
}

@media (min-width: 768px) {
  .estilo-footer {
    font-size: 0.8em;
  }
  .estilo-footer h5 {
    font-size: 1em;
  }
  .estilo-footer .pruebomixin {
    background-color: #00cbff;
    font-size: 1.5em;
  }
}
