/* ESTILOS GENERALES, DE ACA PARA ABAJO*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
/*=====================carousel=====================*/
.carousel-item {
  height: 500px;
  min-height: 300px;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}

.carousel-caption h5 {
  font-size: 2em;
}
.img_carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  bottom: 180px;
}

/* ===================cards=============== */
.contenedor_grande {
  background-image: linear-gradient(to bottom, grey, white);
  margin-top: 0;
  padding: 1px;
}

.contenedor_imagen {
  transition: 0.5s ease-in-out;
  height: 220px;
  width: 100%;
}

.contenedor_imagen:hover {
  filter: brightness(80%);
}

.contenedor_imagen img {
  height: 100%;
}

.card-body {
  background-color: lightpink;
  transition: 0.5s ease-in-out;
}

.card-body:hover {
  filter: brightness(80%);
}

.card-title {
  font-weight: 700;
}

/*
footer {
  background-image: linear-gradient(to right, #333, #ccc);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
} */

/* ESTILOS A TRAVES DE CLASES & ID ---- DE ACA PARA ABAJO */
/* ESTILOS DEL HEADER */

/* .header__titulo {
  color: #0f6;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px;
}

.header__titulo h1:hover {
  transform: translate(-5px, -10px);
}

.header__navegacion {
  display: flex;
  align-items: center;
}
.header__navegacion ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__navegacion a {
  font-weight: bold;
  text-decoration: none;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
  color: #ff00c8;
  border-radius: 15px;
}

.header__navegacion a:hover {
  background-color: rgba(73, 67, 67, 0.822);
  transform: translate(-5px, -2px);
  color: #e2add7;
  transition: background-color 0.5s ease-out;
} */

/* FINAL DEL HEADER */

/* COMIENZA EL MAIN del INDEX*/
/* .main {
  display: flex;
  flex-direction: column;
}

.section1 {
  background-image: url("../img/1.jpg");
  background-size: cover;
  height: 85vh;
}

.section1__texto {
  padding: 15px;
}

.section1__texto h2 {
  font-style: italic;
} */

/* ESTILOS DE CONTACTO-HTML */
.contenedor {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  font-size: 2em;
  /* padding-top: 0.5em; */
}

.contacto__recuadro {
  box-shadow: 0 0 20px 0 rgba(204, 25, 25, 0.3);
  margin: 35px;
}

.contacto__recuadro > * {
  padding: 1em;
}

.contacto__formulario {
  background-color: #c9bfbfdc;
}

.contacto__formulario form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacto__formulario form .block {
  grid-column: 1/3;
}

.contacto__formulario form p {
  margin: 0;
  padding: 1em;
}

.contacto__formulario form button,
.contacto__formulario form input,
.contacto__formulario form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #b70e21;
}

.contacto__formulario form button {
  background: #b70e21;
  border: none;
  text-transform: uppercase;
  padding: 1em;
}

.contacto__formulario form button:hover,
.contacto__formulario form button:focus {
  background: #d63031;
  color: white;
  transition: background-color 1s ease-out;
}

.contacto__info {
  background-color: rgb(180, 160, 160);
}

.contacto__info h4,
.contacto__info ul,
.contacto__info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contacto__info ul {
  list-style: none;
}

.contacto__info ul li {
  padding: 0.3em;
}

/* ESTILOS DE INGRESO-HTML */

.ingreso__recuadro {
  margin: 35px;
  box-shadow: 0 0 20px 0 rgba(204, 25, 25, 0.3);
  background-color: #c9bfbfdc;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.ingreso__recuadro > * {
  padding: 0.2em;
}

.ingreso__recuadro p {
  margin: 0;
  padding: 1em;
}

.ingreso__recuadro > .casilla {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingreso__recuadro input {
  width: 100%;
  padding: 0.7em;
  background: #e4e4e4;
  border: 1px solid #b70e21;
}

.ingreso__recuadro button {
  background: #b70e21;
  border: none;
  text-transform: uppercase;
  padding: 0.5em;
}

.ingreso__recuadro button:hover,
.ingreso__recuadro button:focus {
  background: #b70e21;
  color: white;
  transition: background-color 1s ease-out;
}

.ingreso__recupero {
  background-color: rgb(180, 160, 160);
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingreso__recupero p {
  padding: 0.3em;
}

/* .ingreso__crearcuenta */

/* ESTILOS DE AYUDA.HTML */

/* CONTENEDOR PREGUNTAS INGRESO */

.contenedor-preguntas__ingreso,
.contenedor-preguntas__planificador,
.contenedor-preguntas__recursos,
.contenedor-preguntas__asistencia {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.contenedor-pregunta {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}

/* CONTENEDOR PREGUNTAS Y RESPUESTAS */

/* PANTALLAS GRANDES PARA CONTACTO e INGRESO*/
/* @media (min-width: 768px) { */
/* .ingreso__recuadro, */
/* .contacto__recuadro {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contacto__info h4,
  .contacto__info ul,
  .contacto__info p {
    padding: 1em;
    text-align: left;
  }
} */
/* ESTA BIEN????? */
/* @media only screen and (max-width: 1000px) {
  .section2 {
    grid-column-end: span 6;
  }
} */

/* @media only screen and (min-width: 700px) {
  .section2 {
    grid-column-end: span 12;
  }
} */

/* PROBANDO CON PANTALLAS HASTA 520PX, DEBERIA SER MAS DE 576. HACER PARA CELU Y DESPUES MINWITDTH 576 */
/* @media (max-width: 520px) {
  header {
    font-size: 62.5%;
  }
} */
